<h1 class="welcome">ようこそ Bookers へ！</h1>

<p class="top-information"><strong>Bookers</strong>では、さまざまな書籍に関するあなたの意見や</br>
印象を共有し、交換することができます</p>
<p class="start-button">
<%= link_to "start", '/books' %>
</p>